HELP.md
build.gradle
.gitattributes
.gradle
**/gradle
**/src/main/**/build/
**/src/test/**/build/
gradlew
gradlew.bat
settings.gradle
.idea/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
**/src/main/**/bin/
**/src/test/**/bin/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr



### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### Mac OS ###
.DS_Store