<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.lounge.mapper.FreeBoardMapper">

	<insert id="insertBoard" parameterType="com.sp.app.lounge.model.FreeBoard">
		INSERT ALL
		INTO HYBRID_BOARD (psnum, num, subject, content, reg_date, blind, hitCount, ipaddr, bdtype)
			VALUES (hybrid_board_seq.NEXTVAL, #{num}, #{subject}, #{content}, SYSDATE, 0, 0, #{ipaddr}, #{bdtype})
		INTO HYBRID_FILE (fnum, ssfname, cpfname, psnum)
			VALUES (hybrid_file_seq.NEXTVAL, #{ssfname, jdbcType=VARCHAR}, #{cpfname, jdbcType=VARCHAR}, hybrid_board_seq.CURRVAL)
		SELECT * FROM dual
	</insert>
	
	<sql id="searchSql">
		<choose>
			<when test="schType == 'all'">
				(INSTR(subject, #{kwd}) &gt; 0
			    	OR DBMS_LOB.INSTR(content, #{kwd}) &gt; 0 )
			</when>
			<when test="schType == 'reg_date'">
				(TO_CHAR(reg_date, 'YYYY-MM-DD') = #{kwd}
			    	OR TO_CHAR(reg_date, 'YYYYMMDD') = #{kwd})
			</when>
			<when test="schType == 'content'">
				DBMS_LOB.INSTR(content, #{kwd}) &gt; 0
			</when>
			<otherwise>
				INSTR(${schType}, #{kwd}) &gt; 0
			</otherwise>
		</choose>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM HYBRID_BOARD hb
		JOIN MEMBER m ON hb.num = m.num
		<where>
			<if test="kwd != null and kwd != '' ">
				<include refid="searchSql"/>
			</if>
			AND blind = 0 AND bdtype = 'tip'
		</where>
	</select>
	
	<select id="listBoard" parameterType="map" resultType="com.sp.app.lounge.model.FreeBoard">
		SELECT hb.psnum, m.num, m.id, nickname, subject, content, hb.reg_date, hb.blind, bdtype, ssfname, cpfname,
			hitCount, NVL(replyCount, 0) replyCount
		FROM HYBRID_BOARD hb
		JOIN MEMBER m ON hb.num = m.num
		LEFT OUTER JOIN HYBRID_FILE hf On hb.psnum = hf.psnum
		LEFT OUTER JOIN (
			SELECT rpnum, COUNT(*) replyCount, ps_num, rpblind
			FROM HYBRID_BOARD_REPLY
			WHERE rpblind = 0
			GROUP BY rpnum, ps_num, rpblind
		) c ON hb.psnum = c.ps_num
		<where>
			<if test="kwd != null and kwd != ''">
				<include refid="searchSql"/>
			</if>
			AND bdtype = 'tip' AND blind = 0
		</where>
		ORDER BY psnum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="findById" parameterType="Long" resultType="com.sp.app.lounge.model.FreeBoard">
		SELECT hb.psnum, hb.num, nickname, subject, content, hitCount, hb.reg_date, hb.blind, bdtype, ssfname, cpfname
		FROM HYBRID_BOARD hb
		JOIN MEMBER m ON hb.num = m.num
		LEFT OUTER JOIN HYBRID_FILE hf On hb.psnum = hf.psnum
		LEFT OUTER JOIN (
			SELECT num, COUNT(*) boardLikeCount
			FROM HYBRID_BOARD_FAV
			WHERE num = #{num}
			GROUP BY num
		) c ON hb.num = c.num
		WHERE hb.psnum = #{psnum} AND blind = 0 AND bdtype = 'tip'
	</select>
	
	<update id="updateHitCount" parameterType="Long">
		UPDATE HYBRID_BOARD SET hitCount = hitCount + 1
		WHERE psnum = #{psnum}
	</update>
	
	<select id="findByPrev" parameterType="map" resultType="com.sp.app.lounge.model.FreeBoard">
		SELECT hb.psnum, subject
		FROM HYBRID_BOARD hb
		JOIN MEMBER m ON hb.num = m.num
		<where>
			<if test="kwd != null and kwd != ''">
				<include refid="searchSql"/>
			</if>
		</where>
		WHERE hb.psnum &gt; #{psnum, jdbcType=NUMERIC} AND blind = 0 AND bdtype = 'tip'
		ORDER BY psnum ASC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<select id="findByNext" parameterType="map" resultType="com.sp.app.lounge.model.FreeBoard">
		SELECT hb.psnum, subject
		FROM HYBRID_BOARD hb
		JOIN MEMBER m ON hb.num = m.num
		<where>
			<if test="kwd != null and kwd != ''">
				<include refid="searchSql"/>
			</if>
		</where>
		WHERE hb.psnum &lt; #{psnum, jdbcType=NUMERIC} AND blind = 0 AND bdtype = 'tip'
		ORDER BY psnum DESC
		FETCH FIRST 1 ROWS ONLY
	</select>
	
	<delete id="deleteBoard" parameterType="Long">
		DELETE FROM HYBRID_BOARD
		WHERE psnum = #{psnum}
	</delete>
	
</mapper>