<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.lounge.mapper.PhotoBoardMapper">

	<insert id="insertBoard" parameterType="com.sp.app.lounge.model.PhotoBoard">
		INSERT INTO hybrid_board(psnum, num, subject, content, bdtype, hitCount, ipaddr, reg_date, blind)
		VALUES (hybrid_board_seq.NEXTVAL, #{num}, #{subject}, #{content}, #{bdtype}, 0, #{ipaddr}, SYSDATE, 0)
	</insert>
	
	
	
	
</mapper>