<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.lounge.mapper.PhotoBoardMapper">

	<insert id="insertBoard" parameterType="com.sp.app.lounge.model.PhotoBoard">
		INSERT INTO hybrid_board(psnum, num, subject, content, bdtype, hitCount, ipaddr, reg_date, blind)
		VALUES (hybrid_board_seq.NEXTVAL, #{num}, #{subject}, #{content}, #{bdtype}, 0, #{ipaddr}, SYSDATE, 0)
	</insert>
	
	<sql id="mySql">
		<choose>
			<when test="schType == 'all'">
				(INSTR(subject, #{kwd}) &gt; 0
			    	OR DBMS_LOB.INSTR(content, #{kwd}) &gt; 0 )
			</when>
			<when test="schType == 'reg_date'">
				(TO_CHAR(reg_date, 'YYYY-MM-DD') = #{kwd}
			    	OR TO_CHAR(reg_date, 'YYYYMMDD') = #{kwd})
			</when>
			<when test="schType == 'content'">
				DBMS_LOB.INSTR(content, #{kwd}) &gt; 0
			</when>
			<otherwise>
				INSTR(${schType}, #{kwd}) &gt; 0
			</otherwise>
		</choose>
	</sql>
	
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM HYBRID_BOARD hb
		JOIN MEMBER m ON hb.num = m.num
		<where>
			<if test="kwd != null and kwd != '' ">
				<include refid="mySql"/>
			</if>
			AND blind = 0 AND bdtype = #{bdtype}
		</where>
	</select>
	
	<select id="listBoard" parameterType="map" resultType="com.sp.app.lounge.model.PhotoBoard">
		SELECT hb.psnum, m.num, m.id, nickname, subject, content, TO_CHAR(hb.reg_date, 'yyyy-mm-dd') as reg_date, hb.blind,
			hitCount, NVL(replyCount, 0) replyCount
		FROM HYBRID_BOARD hb
		JOIN MEMBER m ON hb.num = m.num
		LEFT OUTER JOIN (
			SELECT rpnum, COUNT(*) replyCount, ps_num, rpblind
			FROM HYBRID_BOARD_REPLY
			WHERE rpblind = 0
			GROUP BY rpnum, ps_num, rpblind
		) c ON hb.psnum = c.ps_num
		<where>
			<if test="kwd != null and kwd != ''">
				<include refid="mySql"/>
			</if>
			AND bdtype = #{bdtype} AND blind = 0
		</where>
		ORDER BY psnum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	<select id="findById" parameterType="map" resultType="com.sp.app.lounge.model.PhotoBoard">
		SELECT hb.psnum, hb.num, nickname, subject, content, hitCount, hb.reg_date, hb.blind, bdtype
		FROM HYBRID_BOARD hb
		JOIN MEMBER m ON hb.num = m.num
		LEFT OUTER JOIN (
			SELECT psnum, COUNT(*) boardLikeCount
			FROM HYBRID_BOARD_FAV
			WHERE psnum = #{psnum}
			GROUP BY psnum
			) c ON hb.psnum = c.psnum
			WHERE hb.psnum = #{psnum} AND blind = 0 AND bdtype = #{bdtype}
	</select>
	
	<update id="updateHitCount" parameterType="Long">
		UPDATE HYBRID_BOARD SET hitCount = hitCount + 1
		WHERE psnum = #{psnum}
	</update>
	
	<delete id="deleteBoard" parameterType="map">
		DELETE FROM HYBRID_BOARD
		WHERE psnum = #{psnum}
	</delete>
	
	<insert id="boardLike" parameterType="map">
		INSERT INTO HYBRID_BOARD_FAV (psnum, num)
			VALUES (#{psnum}, #{num})
	</insert>
	
	<delete id="deleteBoardLike" parameterType="map">
		DELETE FROM HYBRID_BOARD_FAV
		WHERE psnum = #{psnum} AND num = #{num}
	</delete>
	
	<select id="boardLikeCount" parameterType="Long" resultType="Integer">
		SELECT COUNT(*)
		FROM HYBRID_BOARD_FAV
		WHERE psnum = #{psnum}
	</select>
	
	<select id="memberBoardLiked" parameterType="map" resultType="com.sp.app.lounge.model.FreeBoard">
		SELECT psnum, num
		FROM HYBRID_BOARD_FAV
		WHERE psnum = #{psnum} AND num = #{num}
	</select>
	
</mapper>