<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.MeetingMapper">

	
	<insert id="insertBoard" parameterType="com.sp.app.model.Meeting">
		INSERT INTO GROUP_BOARD (psnum, num, subject, content, bdtype, hitCount, ipaddr, ies, loca, loca_d,
					gender, age, person_c, reg_date, blind)
		VALUES (#{psnum}, #{num}, #{subject}, #{content}, #{bdtype}, 0, #{ipaddr}, #{ies}, #{loca}, #{loca_d},
				#{gender}, #{age}, #{person_c}, SYSDATE, 0)
	</insert>
	

	
</mapper>