<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.PointRecordMapper">
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0)
		FROM point_record
		WHERE num = #{num}
	</select>

	<select id="listPoint" parameterType="map" resultType="com.sp.app.model.PointRecord">
		SELECT *
		FROM point_record
		WHERE num = 6
		ORDER BY prnum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>
	
	
</mapper>