<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.mapper.PolicyBoardMapper">

	<insert id="insertBoard" parameterType="com.sp.app.model.PolicyBoard">
	INSERT INTO policy_board (psnum, subject, content, reg_date, hitcount, savefilename, originalfilename, block, userId)
	VALUES (policy_board_seq.NEXTVAL, #{subject}, #{content}, SYSDATE, 0, #{savefilename, jdbcType=VARCHAR}, #{originalfilename, jdbcType=VARCHAR}, 0, #{userId})
	</insert>

	
	
</mapper>