<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.admin.mapper.ProductManageMapper">
	
	<select id="listBigCategory" resultType="com.sp.app.admin.model.ProductManage">
		SELECT cbn, cbc
		FROM category_big	
	</select>
	
	<select id="listSmallCategory" parameterType="Integer" resultType="com.sp.app.admin.model.ProductManage">
		SELECT csn, csc, cbn
		FROM category_small
		WHERE cbn = #{cbn}	
	</select>
	
	<insert id="insertProduct" parameterType="com.sp.app.admin.model.ProductManage">
		INSERT INTO product(pnum, ptype, pname, pct, pph, csn)
		VALUES (product_seq.NEXTVAL, #{ptype}, #{pname}, #{pct}, #{pph}, #{csn})
	</insert>
	
	<insert id="insertStock" parameterType="com.sp.app.admin.model.ProductManage">
		INSERT INTO product_together_stock (pnum, ptsc, ptsq, ptst)
		VALUES (product_seq.CURRVAL, #{ptsc}, #{ptsq}, #{ptst})
	</insert>
	
	<insert id="insertProductImage" parameterType="com.sp.app.admin.model.ProductManage">
		INSERT INTO product_picture (ppnum, ppp, pnum)
		VALUES (product_picture_seq.NEXTVAL, #{ppp}, product_seq.CURRVAL)
	</insert>
	
	
	<insert id="insertTogetherProduct" parameterType="com.sp.app.admin.model.ProductManage">
		INSERT INTO product_together (ptp, ptsp, ptq, ptd, ptsd, pted, ptdd)
		VALUES (#{ptp}, #{ptsp}, #{ptq}, SYSDATE, #{ptsd}, #{pted}, #{ptdd})
		WHERE pnum = #{pnum}	
	</insert>	
	
	

	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*),0)
		FROM product_together_stock
	</select>
	
	<select id="listProduct" parameterType="map" resultType="com.sp.app.admin.model.ProductManage">
		SELECT p.pnum, p.pname, p.pph, cs.csc, cb.cbc, ts.ptsc, ts.ptsq
		FROM product p
		JOIN category_small cs ON p.csn = cs.csn
		JOIN category_big cb ON cb.cbn = cs.cbn
		JOIN product_together_stock ts ON p.pnum = ts.pnum
		ORDER BY pnum DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY	
	</select>
	
	
</mapper>