<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.admin.mapper.VisitorLogMapper">


	<!-- 방문 로그 추가 (INSERT) -->
	<insert id = "insertVisitorLog" parameterType="java.lang.String">
		INSERT INTO visitor_logs(id, visit_date, session_id)
		VALUES (visitor_logs_seq.NEXTVAL, CURRENT_TIMESTAMP, #{sessionId})
	</insert>
	

</mapper>