<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.admin.mapper.VisitorLogMapper">


	<!-- 방문 로그 추가 (INSERT) -->
	<insert id = "insertVisitorLog" parameterType="java.lang.String">
		INSERT INTO visitor_logs(id, visit_date, session_id)
		VALUES (visitor_logs_seq.NEXTVAL, CURRENT_TIMESTAMP, #{sessionId})
	</insert>
	
	<!-- 오늘 방문자 수 조회 -->
	<select id="countTodayVisitors" resultType="int">
		SELECT COUNT(DISTINCT session_id)
		FROM visitor_logs
		WHERE TRUNC(visit_date) = TRUNC(SYSDATE)
	</select>
	
	<select id="countTotalVisitors" resultType="int">
		SELECT COUNT(DISTINCT session_id)
		FROM visitor_logs
	</select>
	
	<!--  총회원수 조회 -->
	<select id="countTotalMembers" resultType="int">
		SELECT COUNT(*) FROM member
	</select>
	
	<!--  오늘가입한 회원 수 조회 -->
	<select id="countTodayNewMembers" resultType="int">
		SELECT COUNT(*)
		FROM member
		WHERE TRUNC(reg_date) = TRUNC(SYSDATE)
	</select>

</mapper>