<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sp.app.admin.mapper.VisitorLogMapper">


	<!--  총회원수 조회 -->
	<select id="countTotalMembers" resultType="int">
		SELECT COUNT(*) FROM member
	</select>
	
	<!--  오늘가입한 회원 수 조회 -->
	<select id="countTodayNewMembers" resultType="int">
		SELECT COUNT(*)
		FROM member
		WHERE TRUNC(reg_date) = TRUNC(SYSDATE)
	</select>
	
	<!-- 회원 연령대 -->
	<select id="MemberAgeDistribution" resultType="map">
		SELECT
			CASE
				WHEN age BETWEEN 10 AND 19 THEN '10대'
				WHEN age BETWEEN 20 AND 29 THEN '20대'
				WHEN age BETWEEN 30 AND 39 THEN '30대'
           		WHEN age BETWEEN 40 AND 49 THEN '40대'
          		WHEN age BETWEEN 50 AND 59 THEN '50대'
            	WHEN age BETWEEN 60 AND 69 THEN '60대'
            	ELSE '70대 이상'
            END AS age_group,
            COUNT(*) AS count
        FROM (
        	SELECT FLOOR((EXTRACT(YEAR FROM SYSDATE)- EXTRACT(YEAR FROM birth)) / 10) * 10 AS age
        	FROM member_detail
        )
        GROUP BY age
        ORDER BY age
	</select>

</mapper>